.panel-default > .panel-heading {
    color: #FFF;
    border-color: #FFF;
    font-weight: bold;
    background: #0866C6;
    font-size: 16px;
    text-shadow: none;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #1d60cc;
    border-color: #ddd;
}
.panel-heading {
    /* padding: 15px 15px 0px; */
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
